<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- SpringMVC 的配置文件-->
    <!--配置自动扫描的包-->
    <!--
        因为在SpringMVC中只有 @Controller 注解和 @ControllerAdvice 注解修饰的注解才交给
        SpringMVC进行管理，
        只去配置SpringMVC自动扫描的包扫描这两个注解修饰的组件

       use-default-filters： 表示是否使用默认的过滤模式 @Controller @Service @Repository @Component
    -->
    <context:component-scan base-package="com.ydgk.crowd.controller" use-default-filters="false">
        <!-- context:include-filter： 指定只去扫描哪些组件 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"></context:include-filter>
    </context:component-scan>

    <!--
    配置视图解析器
        InternalResourceViewResolver 是一个非常常用的视图解析器，主要用来做请求转发，并将模型数据
        放入请求域的。
    -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--静态资源的处理-->
    <!--<mvc:default-servlet-handler></mvc:default-servlet-handler>-->

    <!--配置 SpringMVC 的注解驱动-->
    <mvc:annotation-driven/>

</beans>